#add {
  text-align: center;
}
#add input {
  color: #5a0000;
  padding: 2px;
  padding-left: 4px;
  width: 100px;
}
#add input::placeholder {
  color: #c4a4a4;
}
#add table {
  border-collapse: collapse;
  margin: auto;
}
#add table th {
  padding: 0px;
  border: 1px solid #5a0000;
  border-collapse: collapse;
}
#addCar {
  padding-left: 4px;
  position: relative;
  top: 2px;
  height: 18px;
}
#addCar:hover {
  cursor: pointer;
}
