@dark-red: rgb(90, 0, 0);

#add {
    text-align: center;

    input{
        color: @dark-red;
        padding: 2px;
        padding-left: 4px;
        width: 100px;
    }

    input::placeholder {
        color: rgb(196, 164, 164);
    }
    
    table {
        border-collapse: collapse;
        margin: auto;

        th {
            padding: 0px;
            border: 1px solid @dark-red;
            border-collapse: collapse;
        }
    }
}

#addCar {
    padding-left: 4px;
    position: relative;
    top: 2px;
    height: 18px;
}

#addCar:hover {
    cursor: pointer;
}