@dark-red: rgb(90, 0, 0);
@light-color: rgb(226, 198, 198);

#carsTable {
    border-collapse: collapse;
    margin: auto;
    border: 1px solid @dark-red;

    input {
        color: @dark-red;
        padding: 2px;
        padding-left: 4px;
        width: 100px;
    }

    th {
        border: 1px solid @dark-red;
        background-color: white;
        color: @dark-red;
        width: 108px;
    }

    td {
        border: 1px solid @dark-red;
        padding: 0px;

        input{
            background-color: @light-color;
            border: 2px solid @light-color;
        }

        input:focus {
            background-color: white;
        }
    } 
}

.removeCar {
    padding-left: 4px;
    position: relative;
    top: 2px;
    height: 18px;
}

.removeCar:hover {
    cursor: pointer;
}

#emptyBox {
    width: 24px !important;
    background-color: @dark-red !important;
}

.head {
    display: inline-block;
}

.sort {
    height: 11px;
    padding-left: 3px;
    cursor: pointer;
}
